{% extends 'inventory/base.html' %}
{% block content %}

<!-- <h4 class="text-center">REPUBLIC OF THE PHILIPPINES</h4>
<h5 class="text-center">PROVINCIAL GOVERNMENT</h5>
<h5 class="text-center">I.T. EQUIPMENT INVENTORY</h5> -->

<form method="post">
    {% csrf_token %}

    <div class="card p-4 mb-4">
        {{ form.as_p }}
    </div>

    <h5 class="text-center mb-3">I.T. EQUIPMENT</h5>

    {{ formset.management_form }}

    <style>
        /* Make inputs/selects/textareas fill their table cells */
        .table-fixed input,
        .table-fixed textarea,
        .table-fixed select {
            width: 100%;
            box-sizing: border-box;
        }
    </style>

    <table class="table table-bordered table-fixed" style="table-layout: fixed; width: 100%;">
        <thead class="table-dark">
            <tr>
                <th style="width: 20%;">I.T. EQUIPMENT</th>
                <th style="width: 40%;">Model/Type</th>
                <th style="width: 15%;">Serial No.</th>
                <th style="width: 25%;">REMARKS</th>
            </tr>
        </thead>
        <tbody>
            {% for f in formset %}
            <tr>
                <td>{{ f.equipment_name }}</td>
                <td>{{ f.original_model }}</td>
                <td>{{ f.original_serial }}</td>
                <td>{{ f.remarks }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <button type="submit" class="btn btn-success mt-3">
        Save
    </button>
</form>

{% endblock %}